/********************************/
/* Header */
/********************************/

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 4.8rem;
  height: 9.6rem;
  align-items: center;
  background-color: #fdf2e9;
}
.logo {
  height: 2.2rem;
}

/********************************/
/* Hero section */
/********************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  padding: 0 3.2rem;
}
.hero-img {
  width: 100%;
}
.hero-description {
  font-size: 2rem;
  margin-bottom: 4.8rem;
  line-height: 1.6;
}
.delivered-meals {
  display: flex;
  align-items: center;
  margin-top: 8rem;
  gap: 3.2rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.2rem;
  border: 3px solid #fdf2e9;
}
.delivered-text {
  font-size: 1.8rem;
}
.delivered-text span {
  font-size: 2rem;
  font-weight: 700;
  color: #cf711f;
}

/********************************/
/* Navigation */
/********************************/

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #333;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  border-radius: 9px;
  padding: 1.2rem 2.4rem;
  background-color: #e67e22;
  color: #fff;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
  color: #fff;
}

/********************************/
/* Featured in section */
/********************************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/********************************/
/* How section */
/********************************/

.section-how {
  padding: 9.6rem 0;
}
.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}
.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
.step-img {
  width: 35%;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/********************************/
/* Meals section */
/********************************/
.section-meals {
  padding: 9.6rem 0;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  transition: all 0.3s;
}
.meal:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
  transform: translateY(-1.2rem);
}
.meal-img {
  width: 100%;
  border-radius: 11px;
}
.meal-content {
  padding: 4.8rem;
  padding-top: 3.2rem;
}
.meal-tags {
  display: flex;
  gap: 8px;
}
.tag {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 100px;
  margin-bottom: 1.2rem;
  letter-spacing: 0.75px;
}
.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #fcc419;
}
.meal-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  color: #333;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.meal-attribute-icon {
  color: #e67e22;
  font-size: 2.4rem;
}
.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  display: flex;
  font-size: 1.8rem;
  gap: 1.6rem;
  align-items: center;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.all-recipes {
  font-size: 1.8rem;
}

/********************************/
/* Testimonials section */
/********************************/
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonials-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4.8rem;
  row-gap: 8rem;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
}
.testimonial-text {
  font-size: 2rem;
  line-height: 1.8;
  margin-top: 1.2rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
  margin-top: 1.6rem;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-item img:hover {
  transform: scale(1.1);
}
